input::-webkit-file-upload-button {
    visibility: hidden;
  }
  input {
    background-color: rgb(242, 245, 242);
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: rgb(30, 30, 30);
    font-weight: 600;
    cursor: pointer;
    margin: 10px 10px 20px 10px;
    font-size: 1rem;
    box-shadow: 1px 3px rgba(210, 210, 210, 0.209);
    content: 'Upload File';
    padding: 10px 20px;
    max-width: 50vw;
  }

  .button-upload {
    background-color: rgb(10, 83, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    margin: 10px 10px 20px 10px;
    font-size: 1rem;
    box-shadow: 1px 3px rgba(210, 210, 210, 0.209);
  }